[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "ALLOWALL"
Permissions-Policy = "geolocation=(self \"https://*.wixsite.com\" \"https://*.wixstudio.com\")"

[build]
command = "npx vite build"
publish = "dist"